@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

@font-face {
  font-family: 'Press Start 2P', cursive;
  src: url(http://fonts.googleapis.com/css?family=Press+Start+2P);
}

.navbar {
  background-color: #2e2f32;
}

nav .active {
  font-weight: bold;
}

.navbar-brand {
  font-size: 35px;
  padding-top: 17px;
}

#searchBox {
  width: 360px;
  padding-top: 8px;
}

#add-button {
  margin-right: 15px;
}

body {
  padding-top: 70px;
  background-color: #fa334f;
  font-family: 'Press Start 2P', cursive;
}

.questions a {
text-decoration:none;
}

.badge {
  padding-top: 8px;
  width: 105px;
  height: 53px;
}

.muted {
  opacity: 0.5;
}

.white-text {
  color: white;
}

.question a {
  color: white;
}

.question a:hover {
  color: #2e2f32;
  opacity: 0.5;
}

.question-body {
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.modal-content {
  background-color: #2e2f32;
}

.modal-title {
  color: white;
}

.close {
  color: white;
}

.close:hover {
  color: white;
}

.answer-button {
  padding-top: 10px;
  padding-bottom: 30px;
}
