.navbar {
  background-color: #2e2f32;
}

nav .active {
  font-weight: bold;
}

#add-button {
  margin-right: 15px;
}

body {
  padding-top: 70px;
  background-color: #fa334f;
}

.list-group a {
text-decoration:none;
}

.muted {
  opacity: 0.5;
}

.white-text {
  color: white;
}

.question a {
  color: white;
}

.question a:hover {
  color: #2e2f32;
  opacity: 0.5;
}

.question-body {
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.modal-content {
  background-color: #2e2f32;
}

.modal-title {
  color: white;
}

.close {
  color: white;
}

.close:hover {
  color: white;
}

.answer-button {
  padding-bottom: 30px;
}
