<div class="new-question-form">
    {{input type="text" placeholder="Your name" value=name class="name-input"}}
    {{input type="text" placeholder="Your question..." value=body class="body-input"}}
    {{input type="date" placeholder="date" value=date class="date-input"}}

    <button {{action 'addQuestion'}} class="submit">Add question</button>
</div>
