{{#each question in model}}
  <div class="question">
    <h3 class="question">{{#link-to 'question' question.id}}{{question.title}}{{/link-to}} <dd class="muted">by {{question.name}} {{question.date}}</dd></h3>
  </div>
{{/each}}
