{{#each question in model}}
  <div class="each-question">
    <h3 class="question">{{#link-to 'question' question.id}}{{question.title}}{{/link-to}} <span class="muted">by {{question.name}} {{question.date}}</span></h3>
  </div>
{{/each}}
